{% extends "layout.html" %}

{% block title %} First {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <div class="intro">
        <h1>Welcome to Flack</h1>
        <p>an online realtime chat room...</p>
    </div>

    
        <form action="/login" class="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="login">
                <div class="wrap-input100">
                    {{ form.display_name }}
                </div>
                <div class="text-center p-t-115">
                    <span class="txt1">
                       <i>Type in a display name</i> 
                    </span>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <button class="login100-form-btn">
                        Enter
                    </button>
                </div>
            </div>
        </div>

        {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
        {% endfor %}

            
        </form>


    
{% endblock %}