{% extends 'index.html' %}

{% block stylesheet%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}" type="text/css">
{%endblock%}

{% block title %}
    {{ c[0]|upper}}{{c[1:] }}
{% endblock%}


{% block channel_label %}
    {{ c[0]|upper}}{{c[1:] }}
{% endblock %}

{% block content %}
    <div class="alert alert-success mt-3">
        <strong>Success!</strong> Channel created, use the menu to navigate.
    </div>

    <div class="chat-page" >
        <div class="msg-inbox">
            <div class="chats">
                <div class="msg-page">
                    {% for i in CHANNELS['chats'] %}
                    
                    <div class="received-chats">
                        <div class="received-chats-img">
                            <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                        </div>
                        
                        <div class="received-msg">
                            <div class="received-msg-inbox">
                                <span class="time" >
                                    <strong>{{i['name']}}</strong> {{i['time']}}
                                </span>
                                <p>{{ i['chat'] }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>

        
    </div>
{% endblock %}

{% block channel_script %}
<script src="{{url_for('static', filename='channel.js')}}"></script>
{% endblock %}


